myenv
.venv
.balas.env
__pycache__
*.pyc
python_scripts/__pycache__
python_scripts/code_generator/__pycache__
python_scripts/arena_estimator/__pycache__
python_scripts/**/__pycache__/
cpp-project/.metadata/
cpp-project/.mcuxpressoide_packages_support/
cpp-project/tflite-test/.settings/
cpp-project/tflite-test/Debug/
cpp-project/tflite-test/Release/
external/mlcommons-tiny/
external/STM32CubeH7/
external/tflm-stm32/
datasets/downloads/
datasets/cifar-10-batches-py/
artifacts/phase1_image_classification/generated/
artifacts/stedgeai-sanity/
artifacts/*.csv
artifacts/*.md
assets/*.zip
assets/*.crdownload
cpp-project/stm32-tflite-test/build*/
cpp-project/nrf52840-tflite-test/build*/

test.sh
